.Overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, .90);
}

.Content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.Content:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: '';
}

.DialogOffer {
    position: relative;
    outline: 0;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: auto;
    cursor: default;
    border-radius: 4px;
    background: white;
}

.DialogGallery {
    position: relative;
    outline: 0;
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: auto;
    cursor: default;
    border-radius: 4px;
    background: none;
}

@media screen and(max-width: 420px) {
    .DialogOffer, .DialogGallery {
        width: 100%;
    }
}