@import "../../less/mixins";
.Content {
    margin-top: 100px;
    @media screen and (max-width: @mobileBreakPoint) {
        margin-top: 50px;
    }
}
.Blur {
    margin-top: 100px;
    .filter_opacity(8%);
    -webkit-transition: -webkit-filter 0.8s linear;
    transition: filter 0.8s linear;
}
.Loader {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 14px;
    font-weight: bold;
    @media screen and (max-width: @mobileBreakPoint) {
        top: 30%;
        left: 30%;
    }
}

