@import "../../less/mixins";
.Container {
    margin-top: 100px;
    @media screen and (max-width: @mobileBreakPoint) {
        margin-top: 50px;
    }
}
.Blur {
    margin-top: 100px;
    .filter_opacity(40%);
    -webkit-transition: -webkit-filter 0.8s linear;
    transition: filter 0.8s linear;
}

