@import "../../less/mixins";
.Content {
    margin-top: 50px;
    @media screen and (min-width: @mobileBreakPoint) {
        margin-top: 100px;
    }
}

.Blur {
    margin-top: 100px;
    .filter_opacity(8%);
    -webkit-transition: -webkit-filter 0.8s linear;
    transition: filter 0.8s linear;
}

.Loader {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    top: 30%;
    left: 20%;

    @media screen and (min-width: 405px) {
        left: 25%;
    }
    @media screen and (min-width: 470px) {
        left: 30%;
    }
    @media screen and (min-width: @mobileBreakPoint) {
        left: 40%;
    }
}

