@import "../../../less/variables";

.HomeButton {
    display: none;

    @media screen and (max-width: @mobileBreakPoint) {
        display: block;
        cursor: @cursorTypePointer;
        margin-top: 5px;
    }
}
