@mobileBreakPoint: 600px;
@bgColor: black;
@textColor: white;
@alignCenter: center;
@alignRight: right;
@alignLeft: left;
@relativePosition: relative;
@absolutePosition: absolute;
@fixedPosition: fixed;
@displayTypeFlex: flex;
@boldWeight: bold;
@cursorTypePointer: pointer;
@containerWidth: 80%;
@containerPadding: 20px;
@displayInlineBlock: inline-block;
@fullWidth: 100%;
@fullHeight: 100%;