<header>
    <!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg red darken-4 scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
            <strong class="white-text">LightsPhotography</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="white-text"><i
        class="fas fa-bars fa-1x"></i></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == '/galerie' %} active {% endif %}">
                    <a class="nav-link waves-effect text-white" href="{% url 'gallery' %}">
                        Galerie
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == '/offres' %} active {% endif %}">
                    <a class="nav-link waves-effect text-white" href="{% url 'offers' %}">
                    Offres
                </a>
                </li>
                <li class="nav-item {% if '/blog/' in request.path %} active {% endif %}">
                    <a class="nav-link waves-effect text-white"
                       href="{% url 'blog_articles:all_articles' %}">Blog</a>
                </li>
                <li class="nav-item {% if request.path == '/contact' %} active {% endif %}">
                    <a class="nav-link waves-effect text-white" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!-- Navbar -->
 {% if request.path == '/'%}
 {% include 'background.html' %}
 {% endif %}
</header>
