{% extends 'base.html' %}

{% block container %}

    <main class="mt-5 pt-5">
        <div class="container">
            <section class="text-center">

                <!--Grid row-->
                <div class="row mb-4 wow fadeIn">
                {% for article in articles_list %}
                                        <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="../{{ article.image.url }}"
                                     class="card-img-top img-fluid"
                                     alt="{{ article.title }}" style="height:180px;">
                                <a href="{{ article.get_absolute_url }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">{{ article.title }}</h4>
                                <!--Text-->
                                <p class="card-text">
                                    {{ article.content|safe|truncatechars:10 }}
                                </p>
                                <a href="{{ article.get_absolute_url }}" class="btn btn-primary btn-md">
                                    Plus
                                </a>
                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                    {% endfor %}
                </div>
                <!--Grid row-->
                {% if is_paginated %}
                    <!--Pagination-->
                    <nav class="d-flex justify-content-center wow fadeIn">
                        <ul class="pagination pg-blue">

                            <!--Arrow left-->
                            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {% for page in paginator.page_range %}
                                <li class="page-item {% ifequal page_obj.number page %}active{% endifequal %}">
                                    <a class="page-link" href="?page={{ page }}">{{ page }}
                                        {% ifequal page_obj.number page %}
                                            <span class="sr-only">(current)</span>
                                        {% endifequal %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
                <!--Pagination-->

            </section>
            <!--Section: Cards-->

        </div>
    </main>
    <!--Main layout-->



{% endblock %}